<div id="<%= dom_id associado %>">
  <p>
    <strong>Nome:</strong>
    <%= associado.nome %>
  </p>

  <p>
    <strong>Nome social:</strong>
    <%= associado.nome_social %>
  </p>

  <p>
    <strong>Nome conhecido:</strong>
    <%= associado.nome_conhecido %>
  </p>

  <p>
    <strong>Mae:</strong>
    <%= associado.mae %>
  </p>

  <p>
    <strong>Pai:</strong>
    <%= associado.pai %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= associado.data_nascimento %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= associado.sexo %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= associado.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= associado.rg %>
  </p>

  <p>
    <strong>Orgao emissor:</strong>
    <%= associado.orgao_emissor %>
  </p>

  <p>
    <strong>Data expedicao:</strong>
    <%= associado.data_expedicao %>
  </p>

  <p>
    <strong>Passaporte:</strong>
    <%= associado.passaporte %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= associado.estado_civil %>
  </p>

  <p>
    <strong>Profissao:</strong>
    <%= associado.profissao %>
  </p>

  <p>
    <strong>Ensino:</strong>
    <%= associado.ensino %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= associado.celular %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= associado.email %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= associado.instagram %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= associado.observacao %>
  </p>

  <p>
    <strong>Tipo cadastro:</strong>
    <%= associado.tipo_cadastro %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= associado.endereco_id %>
  </p>

</div>
