<%= f.simple_fields_for :pessoa do |pf| %>
  <div class="row">
    <div class="col-6">
      <%= pf.input :nome %>
    </div>
    <div class="col-6">
      <%= pf.input :nomesocial %>
    </div>
    <div class="col-6">
      <%= pf.input :nomeconhecido ,input_html: {  placeholder: "Nome conhecido na Modalidade" }%>
    </div>
    <div class="col-3">
      <%= pf.association :sexo, input_html: {  class: "select2" } %>
    </div>
    <div class="col-3">
      <%= pf.association :estadocivil, input_html: {  class: "select2" } %>
    </div>
    <div class="col-6">
      <%= pf.input :mae %>
    </div>
    <div class="col-6">
      <%= pf.input :pai %>
    </div>
    <div class="col-3">
      <%= pf.input :datanascimento,as: :tel, input_html: { class: "data"} %>
    </div>
    <div class="col-3">
      <%= pf.association :funcao, input_html: {  class: "select2" } %>
    </div>
    <div class="col-3">
      <%= pf.input :cpf, input_html: { class: "cpf"}%>
    </div>
    <div class="col-3">
      <%= pf.input :cinrg %>
    </div>
    <div class="col-3">
      <%= pf.input :orgaoemissor %>
    </div>
    <div class="col-3">
      <%= pf.input :dataexpedicao,as: :tel,input_html: { class: "data"} %>
    </div>
    <div class="col-6">
      <%= pf.input :passaporte %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-3">
    <%= f.input :celular, wrapper: :vertical_form ,input_html: { class: "keyup telefone", placeholder: "celular",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-3">
    <%= f.input :email, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "email",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.input :instagram, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "instagram",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :observacao, as: :text, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "observacao",disabled: local_assigns[:disabled] } %>
  </div>
</div>
