
<div class="card mb-4">
  <div class="card-body">
    <%= simple_form_for(@associado) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="row">
        <div class="mb-3 col-md-6">
          <%= f.input :nome %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :nome_social %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :nome_conhecido %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :mae %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :pai %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :data_nascimento %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :sexo %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :cpf %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :rg %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :orgao_emissor %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :data_expedicao %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :passaporte %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :estado_civil %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :profissao %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :ensino %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :celular %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :email %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :instagram %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :observacao %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.input :tipo_cadastro %>
        </div>
        <div class="mb-3 col-md-6">
          <%= f.association :endereco %>
        </div>
    </div>
    <div class="mt-3">
      <%= f.button :submit,"Incluir", class: "btn btn-primary me-2 " %>
    </div>
    <% end %>
  </div>
</div>