<p style="color: green"><%= notice %></p>

<%= render @associado %>

<div>
  <%= link_to "Edit this associado", edit_associado_path(@associado) %> |
  <%= link_to "Back to associados", associados_path %>

  <%= button_to "Destroy this associado", @associado, method: :delete %>
</div>
