<%= render "shared/context_nav", title: t("activerecord.models.user.other") do  %>
  <%= content_tag(:span, link_to(t("activerecord.models.user.other"), users_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"),class: "breadcrumb-item active")%>
<% end %>
<!-- Form Customizado -->
<%= simple_form_for(@user) do |f| %>
  <!-- Área de notificações -->
  <%= render "shared/model_errors" %>
  <%= render "shared/notice" %>
  <!-- Card e formulário -->
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= translate_concat("common.actions.#{params[:action]}", "activerecord.models.user.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-inputs">
          <%= f.input :nome, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :role_id, collection: Role.all, required: true, prompt: "Selecione um cargo", input_html: { class: "form-select" } %>
          <%= f.input :cpf, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :current_password,
                hint: "Precisamos da sua senha atual para confirmar suas alterações",
                required: true,
                input_html: { autocomplete: "current-password" } %>
          <%= f.input :password,
                hint: "Deixe em branco se não quiser alterar",
                required: false,
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= link_to "Voltar", :back, class: "btn btn-outline-secondary" %>
          <%= btn_submit(f) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>