<<<<<<< HEAD
<%= render "shared/context_nav", title: t("activerecord.models.noticia.other") do  %>
  <%= content_tag(:span, link_to(t("activerecord.models.noticia.other"), noticia_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"),class: "breadcrumb-item active")%>
<% end %>
<!-- Form Customizado -->
<%= simple_form_for(@noticia) do |f| %>
  <!-- Área de notificações -->
  <%= render "shared/model_errors" %>
  <%= render "shared/notice" %>
  <!-- Card e formulário -->
=======
<%= render "shared/context_nav", title: t("activerecord.models.noticia.other") do %>
<<<<<<<< HEAD:app/views/noticias/show.html.erb
  <%= content_tag(:span, link_to(t("activerecord.models.noticia.other"), noticia_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"), class: "breadcrumb-item active") %>
<% end %>

<%= simple_form_for(@noticia, url: "#", method: "get", html: { disabled: true }) do |f| %>
========
  <%= content_tag(:span, link_to(t("activerecord.models.noticia.other"), noticias_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"), class: "breadcrumb-item active") %>
<% end %>

<%= simple_form_for(@noticia,
  url: @noticia.persisted? ? noticia_path(@noticia) : noticias_path,
  method: @noticia.persisted? ? :patch : :post) do |f| %>
>>>>>>>> 660cd8a (criado partes de noticias):app/views/noticias/_form.html.erb
  <%= render "shared/model_errors" %>
  <%= render "shared/notice" %>
>>>>>>> 660cd8a (criado partes de noticias)
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= translate_concat("common.actions.#{params[:action]}", "activerecord.models.noticia.one") %>
      </h5>
    </div>
    <div class="card-body">
      <form>
        <%= render "noticia", f: f %>
<<<<<<< HEAD
        <%= link_to t("common.back"), noticias_path, class: "btn btn-outline-secondary" %>
        <%= btn_submit(f) %>
      </form>    
    </div>
  </div>
<% end %>
=======
<<<<<<<< HEAD:app/views/noticias/show.html.erb
        <%= link_to t("common.back"), noticia_path, class: "btn btn-outline-secondary" %>
========
        <%= link_to t("common.back"), noticias_path, class: "btn btn-outline-secondary" %>
>>>>>>>> 660cd8a (criado partes de noticias):app/views/noticias/_form.html.erb
        <%= btn_submit(f) %>
      </form>
    </div>
  </div>
<% end %>
>>>>>>> 660cd8a (criado partes de noticias)
