<div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
  
    <div class="col-6">
      
        <%= f.input :titulo, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "titulo",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :conteudo, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "conteudo",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :categoria, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "categoria",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :imagem, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "imagem",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :data_publicacao, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "data_publicacao",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :destaque, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "destaque",disabled: local_assigns[:disabled] } %>
      
    </div>
  
=======
=======
<<<<<<< HEAD:app/views/noticias/_noticia.html.erb
>>>>>>> e898f74 (refactor: refatoracoes de scaffold: estado_civil, funcao, responsavel, atleta_equipe, noticia.)
  <div class="col-6">
    <%= f.input :titulo, wrapper: :vertical_form, input_html: { class: "keyup", placeholder: "titulo", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.input :conteudo, wrapper: :vertical_form, input_html: { class: "keyup", placeholder: "conteudo", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.input :categoria, wrapper: :vertical_form, input_html: { class: "keyup", placeholder: "categoria", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :imagem_upload, as: :file, wrapper: :vertical_form, label: "Imagem", input_html: { accept: "image/*", disabled: local_assigns[:disabled] } %>
    <% if f.object.imagem_upload.attached? && !local_assigns[:disabled] %>
      <div class="mt-2">
        <%= image_tag f.object.imagem_upload, class: "img-thumbnail", style: "max-width: 200px;" %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <%= f.input :imagem, wrapper: :vertical_form, label: "URL da Imagem (opcional)", input_html: { class: "keyup", placeholder: "URL alternativa", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.input :data_publicacao, as: :string, wrapper: :vertical_form, input_html: { class: "keyup", placeholder: "data_publicacao", disabled: local_assigns[:disabled] } %>
    </div>
  <div class="col-6">
    <%= f.input :destaque, wrapper: :vertical_form, as: :boolean, input_html: { disabled: local_assigns[:disabled] } %>
  </div>
<<<<<<< HEAD
>>>>>>> 660cd8a (criado partes de noticias)
=======
=======
  
    <div class="col-6">
      
        <%= f.input :titulo, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "titulo",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :conteudo, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "conteudo",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :categoria, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "categoria",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :imagem, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "imagem",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :data_publicacao, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "data_publicacao",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :destaque, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "destaque",disabled: local_assigns[:disabled] } %>
      
    </div>
  
>>>>>>> 5627994 (refactor: refatoracoes de scaffold: estado_civil, funcao, responsavel, atleta_equipe, noticia.):app/views/noticia/_noticia.html.erb
>>>>>>> e898f74 (refactor: refatoracoes de scaffold: estado_civil, funcao, responsavel, atleta_equipe, noticia.)
</div>
