<div class="row">

  <div class="col-12">
  
    <%= f.input :nome, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nome",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :nomesocial, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nomesocial",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :nomeconhecido, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nomeconhecido",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :pai, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "pai",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :mae, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "mae",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :datanascimento, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "datanascimento",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :cpf, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "cpf",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :cinrg, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "cinrg",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :orgaoemissor, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "orgaoemissor",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :dataexpedicao, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "dataexpedicao",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :passaporte, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "passaporte",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :profissao, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "profissao",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :sexo, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :estadocivil, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :ensino, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :funcao, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
