<%= render "shared/context_nav", title: t("activerecord.models.pessoa.other"), new_path: new_pessoa_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.pessoa.other") %></span>
<% end %>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= f.search_field :nome_cont, class: "form-control", placeholder: t("activerecord.attributes.pessoa.nome") %>
      <%= link_to pessoas_path, class: "btn btn-outline-secondary d-flex align-items-center justify-content-center" do %>
        <i class="ph ph-x"></i>
      <% end if params[:q] %>
    <% end %>      
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center col-1"><%= t("common.table_th_actions") %></th>
            
              <th><%= sort_link(@q, :nome, t("activerecord.attributes.pessoa.nome")) %></th>
            
              <th><%= sort_link(@q, :nomesocial, t("activerecord.attributes.pessoa.nomesocial")) %></th>
            
              <th><%= sort_link(@q, :nomeconhecido, t("activerecord.attributes.pessoa.nomeconhecido")) %></th>
            
              <th><%= sort_link(@q, :pai, t("activerecord.attributes.pessoa.pai")) %></th>
            
              <th><%= sort_link(@q, :mae, t("activerecord.attributes.pessoa.mae")) %></th>
            
              <th><%= sort_link(@q, :datanascimento, t("activerecord.attributes.pessoa.datanascimento")) %></th>
            
              <th><%= sort_link(@q, :cpf, t("activerecord.attributes.pessoa.cpf")) %></th>
            
              <th><%= sort_link(@q, :cinrg, t("activerecord.attributes.pessoa.cinrg")) %></th>
            
              <th><%= sort_link(@q, :orgaoemissor, t("activerecord.attributes.pessoa.orgaoemissor")) %></th>
            
              <th><%= sort_link(@q, :dataexpedicao, t("activerecord.attributes.pessoa.dataexpedicao")) %></th>
            
              <th><%= sort_link(@q, :passaporte, t("activerecord.attributes.pessoa.passaporte")) %></th>
            
              <th><%= sort_link(@q, :profissao, t("activerecord.attributes.pessoa.profissao")) %></th>
            
              <th><%= sort_link(@q, :sexo, t("activerecord.attributes.pessoa.sexo")) %></th>
            
              <th><%= sort_link(@q, :estadocivil, t("activerecord.attributes.pessoa.estadocivil")) %></th>
            
              <th><%= sort_link(@q, :ensino, t("activerecord.attributes.pessoa.ensino")) %></th>
            
              <th><%= sort_link(@q, :funcao, t("activerecord.attributes.pessoa.funcao")) %></th>
            
          </tr>
        </thead>
        <tbody>
          <% @pessoas.each do |pessoa| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-gear"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                    <%= link_to content_tag(:i, "", class: "ph ph-eye me-2") + t("common.actions.show"), pessoa_path(pessoa), class: "dropdown-item" %>
                    <%= link_to content_tag(:i, "", class: "ph ph-pen me-2") + t("common.actions.edit"), edit_pessoa_path(pessoa), class: "dropdown-item" %>
                    <%= form_for pessoa, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer" data-confirm-delete="<%= pessoa_path(pessoa) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
              
                <td><%= pessoa.nome %></td>
              
                <td><%= pessoa.nomesocial %></td>
              
                <td><%= pessoa.nomeconhecido %></td>
              
                <td><%= pessoa.pai %></td>
              
                <td><%= pessoa.mae %></td>
              
                <td><%= pessoa.datanascimento %></td>
              
                <td><%= pessoa.cpf %></td>
              
                <td><%= pessoa.cinrg %></td>
              
                <td><%= pessoa.orgaoemissor %></td>
              
                <td><%= pessoa.dataexpedicao %></td>
              
                <td><%= pessoa.passaporte %></td>
              
                <td><%= pessoa.profissao %></td>
              
                <td><%= pessoa.sexo %></td>
              
                <td><%= pessoa.estadocivil %></td>
              
                <td><%= pessoa.ensino %></td>
              
                <td><%= pessoa.funcao %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>
