<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <%= link_to root_path, class: "app-brand-link" do %>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Asdericel</span>
    <% end %>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <%= link_to root_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="menu-title">Home</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to associados_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="menu-title">Associados</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to atletas_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="menu-title">Atletas</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to equipes_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="menu-title">Equipes</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to equipes_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="menu-title">Eventos</div>
      <% end %>
    </li>
    <li class="menu-item">
      <a class="menu-link d-flex justify-content-between align-items-center" 
        data-bs-toggle="collapse" 
        href="#submenuLayouts" 
        role="button" 
        aria-expanded="false" 
        aria-controls="submenuLayouts">
        <span>
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <span data-i18n="Layouts">Tabelas Referenciais</span>
        </span>
        <!-- Ícone da seta -->
        <i class="bx bx-chevron-down ms-2 collapse-toggle"></i>
      </a>
      <ul class="collapse list-unstyled ps-4 mt-1" id="submenuLayouts">
        <li class="menu-item">
          <%= link_to ensinos_path, class:"menu-link" do %>
            <div data-i18n="Without menu">Ensino</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to estadocivils_path	, class:"menu-link" do %>
            <div data-i18n="Without navbar">Estado Civil</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to escolas_path	, class:"menu-link" do %>
            <div data-i18n="Without navbar">Escola</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to tiposanguineos_path	, class:"menu-link" do %>
            <div data-i18n="Without navbar">Tipo Sanguineo</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to sexos_path, class:"menu-link" do %>
            <div data-i18n="Without menu">Sexo</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to funcaos_path, class:"menu-link" do %>
            <div data-i18n="Without navbar">Função</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to federacaos_path, class:"menu-link" do %>
            <div data-i18n="Without navbar">Federação</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to camisas_path, class:"menu-link" do %>
            <div data-i18n="Without navbar">Camisa</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to calcas_path, class:"menu-link" do %>
            <div data-i18n="Without navbar">Calça</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to estados_path, class:"menu-link" do %>
            <div data-i18n="Without navbar">Estado</div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to municipios_path, class:"menu-link" do %>
            <div data-i18n="Without navbar">Municipio</div>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</aside>