<div id="<%= dom_id evento %>">
  <p>
    <strong>Nome:</strong>
    <%= evento.nome %>
  </p>

  <p>
    <strong>Edicao:</strong>
    <%= evento.edicao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= evento.categoria %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= evento.municipio %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= evento.estado %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= evento.pais %>
  </p>

</div>
