<div class="row">

  <div class="col-12">
  
    <%= f.input :nome, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nome",disabled: local_assigns[:disabled] || false } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :edicacao, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "edicacao",disabled: local_assigns[:disabled] || false } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :promotor, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "promotor",disabled: local_assigns[:disabled] || false } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :local, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "local",disabled: local_assigns[:disabled] || false } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :datainicio, as: :tel, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "datainicio",disabled: local_assigns[:disabled] || false } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :datafim, as: :tel, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "datafim",disabled: local_assigns[:disabled] || false } %>
  
  </div>

</div>
