<%= form_with(model: evento) do |form| %>
  <% if evento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
        <% evento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :edicao, style: "display: block" %>
    <%= form.text_field :edicao %>
  </div>

  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :categoria %>
  </div>

  <div>
    <%= form.label :municipio, style: "display: block" %>
    <%= form.text_field :municipio %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.label :pais, style: "display: block" %>
    <%= form.text_field :pais %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
