<%= render "shared/context_nav", title: t("activerecord.models.evento.other"), new_path: new_evento_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.evento.other") %></span>
<% end %>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= f.search_field :nome_cont, class: "form-control", placeholder: t("activerecord.attributes.evento.nome") %>
      <%= link_to eventos_path, class: "btn btn-outline-secondary d-flex align-items-center justify-content-center" do %>
        <i class="ph ph-x"></i>
      <% end if params[:q] %>
    <% end %>      
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center col-1"><%= t("common.table_th_actions") %></th>
            
              <th><%= sort_link(@q, :nome, t("activerecord.attributes.evento.nome")) %></th>
            
              <th><%= sort_link(@q, :edicacao, t("activerecord.attributes.evento.edicacao")) %></th>
            
              <th><%= sort_link(@q, :promotor, t("activerecord.attributes.evento.promotor")) %></th>
            
              <th><%= sort_link(@q, :local, t("activerecord.attributes.evento.local")) %></th>
            
              <th><%= sort_link(@q, :datainicio, t("activerecord.attributes.evento.datainicio")) %></th>
            
              <th><%= sort_link(@q, :datafim, t("activerecord.attributes.evento.datafim")) %></th>
            
          </tr>
        </thead>
        <tbody>
          <% @eventos.each do |evento| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-gear"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                    <%= link_to content_tag(:i, "", class: "ph ph-eye me-2") + t("common.actions.show"), evento_path(evento), class: "dropdown-item" %>
                    <%= link_to content_tag(:i, "", class: "ph ph-pen me-2") + t("common.actions.edit"), edit_evento_path(evento), class: "dropdown-item" %>
                    <%= form_for evento, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer" data-confirm-delete="<%= evento_path(evento) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
              
                <td><%= evento.nome %></td>
              
                <td><%= evento.edicacao %></td>
              
                <td><%= evento.promotor %></td>
              
                <td><%= evento.local %></td>
              
                <td><%= evento.datainicio %></td>
              
                <td><%= evento.datafim %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>
