<%= render "shared/context_nav", title: t("activerecord.models.tiposanguineo.other") do %>
  <%= content_tag(:span, link_to(t("activerecord.models.tiposanguineo.other"), tiposanguineos_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"), class: "breadcrumb-item active") %>
<% end %>

<%= simple_form_for(@tiposanguineo, url: "#", method: "get", html: { disabled: true }) do |f| %>
  <%= render "shared/model_errors" %>
  <%= render "shared/notice" %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= translate_concat("common.actions.#{params[:action]}", "activerecord.models.tiposanguineo.one") %>
      </h5>
    </div>
    <div class="card-body">
      <form>
        <%= render "tiposanguineo", f: f %>
        <%= link_to t("common.back"), tiposanguineos_path, class: "btn btn-outline-secondary" %>
        <%= btn_submit(f) %>
      </form>    
    </div>
  </div>
<% end %>
