<div class="row">

  <div class="col-12">
  
    <%= f.input :nome, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nome",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :inep, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "inep",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :telefone, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "telefone",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :municipio, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "municipio",disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :estado, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "estado",disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
