<%= render "shared/context_nav", title: t("activerecord.models.escola.other") do  %>
  <%= content_tag(:span, link_to(t("activerecord.models.escola.other"), escolas_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"),class: "breadcrumb-item active")%>
<% end %>
<!-- Form Customizado -->
<%= simple_form_for(@escola) do |f| %>
  <!-- Área de notificações -->
  <%= render "shared/model_errors" %>
  <%= render "shared/notice" %>
  <!-- Card e formulário -->
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= translate_concat("common.actions.#{params[:action]}", "activerecord.models.escola.one") %>
      </h5>
    </div>
    <div class="card-body">
      <form>
        <%= render "escola", f: f %>
        <%= link_to t("common.back"), escolas_path, class: "btn btn-outline-secondary" %>
        <%= btn_submit(f) %>
      </form>    
    </div>
  </div>
<% end %>