<div class="row">
  
    <div class="col-6">
      
        <%= f.input :nome, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "nome",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :rg, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "rg",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :cpf, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "cpf",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :telefone, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "telefone",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :email, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "email",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.association :parentesco, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
      
    </div>
  
</div>
