<div class="card px-sm-6 px-0">
  <div class="card-body">
    <h3 class="mb-6" style="text-align:center;">
      Login Asdericel
    </h3>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.input :cpf, autofocus: true, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.input :password, class: "form-control" %>
      </div>
      <div class="mb-2">
        <div class="d-flex justify-content-between">
          <%# <%= link_to "Esqueceu a senha?", new_user_password_path %>
        </div>
      </div>
      <%= f.button :submit, "Entrar", class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>
