<div class="card mb-4">
    <div class="card-body">
      <div class="card-header d-flex justify-content-between align-items-center p-0">
      <h5>Cidades</h5>
          <%=link_to new_cidade_path, class:"btn btn-primary" do %>
                <i>+</i>
          <% end %>
      </div>
  </div>
</div>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-body">
    <div class="col-9 col-sm-10 col-md-6 col-lg-4 mb-2">
      <%= search_form_for @q, url: cidades_path, method: :get, html: { class: "position-relative" } do |f| %>
        <%= f.search_field :nome_cont, class: "form-control", placeholder: "Pesquisar" %>
      <% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-sm align-middle mb-5">
        <thead class="table-light">
          <tr>
            <th>Nome</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @cidades.each do |cidade| %>
            <tr>
              <td><%= cidade.nome %></td>
              <td class="text-center">
                <div class="dropdown">
                <button type="button" class="btn btn-sm p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="icon-base bx bx-dots-vertical-rounded"></i>
                </button>
                  <ul class="dropdown-menu">
                    <li>
                        <%= link_to "Editar", edit_cidade_path(cidade), class: "dropdown-item text-warning" %>
                    </li>
                    <li>
                      <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal_<%= cidade.id %>">
                        Deletar
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
              <div class="modal fade" id="confirmDeleteModal_<%= cidade.id %>" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Exclusão</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body" style="word-wrap: break-word; word-break: break-word;">
                      Tem certeza que deseja excluir?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <%= button_to "Confirmar", cidade_path(cidade), method: :delete, form_class: "d-inline", class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          <% end %> 
        </tbody>
      </table>
    </div>
  </div>
</div>
