<div class="card-datatable">
  <div class="table-responsive">
    <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
      <div class="justify-content-between dt-layout-table border-top">
        <div class="d-md-flex justify-content-between align-items-center col-12 dt-layout-full col-md table-responsive">
          <table class="datatables-category-list table dataTable dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;"><colgroup><col data-dt-column="1" style="width: 53.9062px;"><col data-dt-column="2" style="width: 584.5px;"><col data-dt-column="3" style="width: 195.234px;"><col data-dt-column="4" style="width: 164.016px;"><col data-dt-column="5" style="width: 130.344px;"></colgroup>
            <thead>
              <tr>
                <th class="text-center col-1"><%= t("common.table_th_actions") %></th>
                <th class="text-nowrap text-sm-end dt-orderable-asc dt-orderable-desc dt-type-numeric" ><%= sort_link(@q, :nome, t("activerecord.attributes.cidade.nome")) %></th>
              </tr>
            </thead>
            <tbody>
              <% @cidades.each do |cidade| %>
              <tr>
                <td class="text-center">
                  <div>
                    <a href="#" class="btn btn-icon dropdown-toggle hide-arrow show" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                    </a>
                    <div class="dropdown-menu">
                      <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                      <%= link_to content_tag(:i, "", class: "ph-eye me-2") + t("common.actions.show"), cidade_path(cidade), class: "dropdown-item" %>
                      <%= link_to content_tag(:i, "", class: "ph-pen me-2") + t("common.actions.edit"), edit_cidade_path(cidade), class: "dropdown-item" %>
                      <%= form_for cidade, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer" data-confirm-delete="<%= cidade_path(cidade) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                      </a>
                      <% end %>
                    </div>
                  </div>
                </td>
                  <td><%= cidade.nome %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>