<%%= render "shared/context_nav", title: t("activerecord.models.<%= singular_table_name %>.other"), new_path: new_<%= singular_table_name %>_path do  %>
  <span class="breadcrumb-item active"><%%= t("activerecord.models.<%= singular_table_name %>.other") %></span>
<%% end %>
<%%= render "shared/notice" %>
<div class="card">
  <div class="card-header d-flex">
    <%%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%%= f.search_field :<%= attributes[0].name %>_cont, class: "form-control", placeholder: t("activerecord.attributes.<%= singular_table_name %>.<%= attributes[0].name %>") %>
      <%%= link_to <%= plural_table_name %>_path, class: "btn btn-outline-secondary d-flex align-items-center justify-content-center" do %>
        <i class="ph ph-x"></i>
      <%% end if params[:q] %>
    <%% end %>      
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center col-1"><%%= t("common.table_th_actions") %></th>
            <% attributes.each do |attribute| %>
              <th><%%= sort_link(@q, :<%= attribute.name %>, t("activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>")) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-gear"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%%= t("common.table_dropdown_options") %></div>
                    <%%= link_to content_tag(:i, "", class: "ph ph-eye me-2") + t("common.actions.show"), <%= singular_table_name %>_path(<%= singular_table_name %>), class: "dropdown-item" %>
                    <%%= link_to content_tag(:i, "", class: "ph ph-pen me-2") + t("common.actions.edit"), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "dropdown-item" %>
                    <%%= form_for <%= singular_table_name %>, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer" data-confirm-delete="<%%= <%= singular_table_name %>_path(<%= singular_table_name %>) %>" data-csrf-token="<%%= form_authenticity_token %>">
                        <i class="ph ph-trash-simple me-2"></i><%%= t("common.actions.delete") %>
                      </a>
                    <%% end %>
                  </div>
                </div>
              </td>
              <% attributes.each do |attribute| %>
                <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
              <% end %>
            </tr>
          <%% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%%= pagy_navigation(@pagy) %>
  </div>
</div>
