<div class="row">
  
    <div class="col-6">
      
        <%= f.input :titulo, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "titulo",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :conteudo, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "conteudo",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :categoria, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "categoria",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :imagem, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "imagem",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :data_publicacao, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "data_publicacao",disabled: local_assigns[:disabled] } %>
      
    </div>
  
    <div class="col-6">
      
        <%= f.input :destaque, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "destaque",disabled: local_assigns[:disabled] } %>
      
    </div>
  
</div>
