<%= f.simple_fields_for :pessoa do |pf| %>
  <div class="row">
    <div class="col-6">
      <%= pf.input :nome %>
    </div>
    <div class="col-6">
      <%= pf.input :nomesocial %>
    </div>
    <div class="col-6">
      <%= pf.input :nomeconhecido ,input_html: {  placeholder: "Nome conhecido na Modalidade" }%>
    </div>
    <div class="col-3">
      <%= pf.association :sexo, input_html: {  class: "select2" } %>
    </div>
    <div class="col-3">
      <%= pf.association :estadocivil, input_html: {  class: "select2" } %>
    </div>
    <div class="col-6">
      <%= pf.input :mae %>
    </div>
    <div class="col-6">
      <%= pf.input :pai %>
    </div>
    <div class="col-3">
      <%= pf.input :datanascimento,as: :tel, input_html: { class: "data"} %>
    </div>
    <div class="col-3">
      <%= pf.association :funcao, input_html: {  class: "select2" } %>
    </div>
    <div class="col-3">
      <%= pf.input :cpf, input_html: { class: "cpf"}%>
    </div>
    <div class="col-3">
      <%= pf.input :cinrg %>
    </div>
    <div class="col-3">
      <%= pf.input :orgaoemissor %>
    </div>
    <div class="col-3">
      <%= pf.input :dataexpedicao,as: :tel,input_html: { class: "data"} %>
    </div>
    <div class="col-3">
      <%= pf.input :passaporte %>
    </div>
    <div class="col-3">
      <%= f.input :numeroSus, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "numeroSus",disabled: local_assigns[:disabled] } %>
    </div>
  </div>
<% end %>
<div class="row">
  <hr/>
  <div class="col-6">
    <%= f.association :ensino, input_html: {  class: "select2", disabled: local_assigns[:disabled]  } %>
  </div>
  <div class="col-6">
    <%= f.association :escola, input_html: {  class: "select2", disabled: local_assigns[:disabled]  } %>
  </div>
  <hr/>
  <div class="col-6">
    <%= f.association :modalidades, input_html: {  class: "select2", multiple: true, disabled: local_assigns[:disabled]  } %>
  </div>
  <div class="col-3">
    <%= f.input :peso, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "peso",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-3">
    <%= f.input :altura, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "altura",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-3">
    <%= f.association :camisa, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-3">
    <%= f.association :calca, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  </div>
  <hr/>
  <div id="federacoes" class="d-flex flex-wrap align-items-center gap-2 justify-content-between mb-3">
    <h3>Federações do Aluno</h3>
    <%= f.fields_for :atleta_federacoes do |ff| %>
      <%= render "modal_federacao", f: ff, federacoes: @federacoes %>
    <% end %>
    <!-- Botão para abrir modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
      Associar Federação
    </button>
  </div>
  <div id="lista-federacoes">
    <%= render "lista_federacoes", f: f %>
  </div>
</div>
<script>
  document.addEventListener("turbo:load", () => {
    const addButton = document.getElementById("add-federacao");
    if (!addButton) return;

    addButton.addEventListener("click", (e) => {
      e.preventDefault();
      const container = document.getElementById("federacoes");
      const time = new Date().getTime();

      // Rails substitui `new_record` pelo índice certo no servidor
      const template = container.dataset.template.replace(/new_record/g, time);
      container.insertAdjacentHTML("beforeend", template);
    });

    document.addEventListener("click", (e) => {
      if (e.target.matches(".remove-federacao")) {
        e.preventDefault();
        e.target.closest(".nested-fields").remove();
      }
    });
  });
</script>
