<%= f.simple_fields_for :pessoa do |pf| %>
  <div class="row">
    <div class="col-6">
      <%= pf.input :nome %>
    </div>
    <div class="col-6">
      <%= pf.input :nomesocial %>
    </div>
    <div class="col-6">
      <%= pf.input :nomeconhecido ,input_html: {  placeholder: "Nome conhecido na Modalidade" }%>
    </div>
    <div class="col-3">
      <%= pf.association :sexo, input_html: {  class: "select2" } %>
    </div>
    <div class="col-3">
      <%= pf.association :estadocivil, input_html: {  class: "select2" } %>
    </div>
    <div class="col-6">
      <%= pf.input :mae %>
    </div>
    <div class="col-6">
      <%= pf.input :pai %>
    </div>
    <div class="col-3">
      <%= pf.input :data_nascimento,as: :tel, input_html: { class: "data"} %>
    </div>
    <div class="col-3">
      <%= pf.association :funcao, input_html: {  class: "select2" } %>
    </div>
    <div class="col-3">
      <%= pf.input :cpf, input_html: { class: "cpf"}%>
    </div>
    <div class="col-3">
      <%= pf.input :cinrg %>
    </div>
    <div class="col-3">
      <%= pf.input :orgaoemissor %>
    </div>
    <div class="col-3">
      <%= pf.input :dataexpedicao,as: :tel,input_html: { class: "data"} %>
    </div>
    <div class="col-6">
      <%= pf.input :passaporte %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-6">
    <%= f.input :numeroSus, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "numeroSus",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.association :tiposanguineo, input_html: {  class: "select2" } %>
  </div>
  <hr />
  <%# dados da escola %>
  <div class="col-3">
    <%= f.association :escola, input_html: {  class: "select2" } %>
  </div>
  <div class="col-3">
    <%= f.input :peso, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "peso",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-3">
    <%= f.input :altura, wrapper: :vertical_form ,input_html: { class: "keyup", placeholder: "altura",disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.association :camisa, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-6">
    <%= f.association :calca, input_html: { class: "select2", disabled: local_assigns[:disabled] } %>
  </div>
</div>
