<div class="col-lg-4 col-md-6">
  <small class="text-light fw-semibold"></small>
  <div class="mt-4">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
      Federacao
    </button>
    <!-- Modal -->
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1"></h5>
          </div>
          <div class="modal-body">
            <%= f.simple_fields_for :atleta do |f| %>
              <h3>Federações</h3>
              <div id="federacoes">
                <div class="nested-fields">
                  <div class="col-md-12">
                    <%= f.collection_select :federacao_id, Federacao.all, :id, :nome, { prompt: "Selecione a Federação" }, class: "form-select" %>
                  </div>
                  <div class="col-md-12">
                    <%= f.text_field :numero, placeholder: "Número da Federação", class: "form-control" %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to  "Remover",federacao_path(f) , class: "btn btn-danger" %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="col-md-2">
                  <%= link_to  "Adicionar Federação",federacao_path(f), class: "btn btn-sm btn-primary" %>
                </div>
                <div class="mt-3">
                  <%= f.submit "Salvar", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>