<%= render "shared/context_nav", title: t("activerecord.models.atleta.other") do %>
  <%= content_tag(:span, link_to(t("activerecord.models.atleta.other"), atletas_path, class: "text-dark"), class: "breadcrumb-item") %>
  <%= content_tag(:span, t("common.actions.#{params[:action]}"), class: "breadcrumb-item active") %>
<% end %>
<%= simple_form_for(@atleta, url: "#", method: "get", html: { disabled: true }) do |f| %>
  <%= render "shared/model_errors" %>
  <%= render "shared/notice" %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= translate_concat("common.actions.#{params[:action]}", "activerecord.models.atleta.one") %>
      </h5>
    </div>
    <div class="card-body">
      <form>
        <%= render "atleta", f: f , disabled: true %>
        <%= link_to t("common.back"), atletas_path, class: "btn btn-outline-secondary" %>
        <%= link_to t("common.actions.edit"), edit_atleta_path(@atleta), class: "btn btn-primary" %>
      </form>
    </div>
  </div>
<% end %>
