<%= render "shared/context_nav", title: t("activerecord.models.estado.other"), new_path: new_estado_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.estado.other") %></span>
<% end %>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= f.search_field :nome_cont, class: "form-control", placeholder: t("activerecord.attributes.estado.nome") %>
      <%= link_to estados_path, class: "btn btn-outline-secondary d-flex align-items-center justify-content-center" do %>
        <i class="ph ph-x"></i>
      <% end if params[:q] %>
    <% end %>      
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center col-1"><%= t("common.table_th_actions") %></th>
            
              <th><%= sort_link(@q, :nome, t("activerecord.attributes.estado.nome")) %></th>
            
              <th><%= sort_link(@q, :sigla, t("activerecord.attributes.estado.sigla")) %></th>
            
          </tr>
        </thead>
        <tbody>
          <% @estados.each do |estado| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-gear"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                    <%= link_to content_tag(:i, "", class: "ph ph-eye me-2") + t("common.actions.show"), estado_path(estado), class: "dropdown-item" %>
                    <%= link_to content_tag(:i, "", class: "ph ph-pen me-2") + t("common.actions.edit"), edit_estado_path(estado), class: "dropdown-item" %>
                    <%= form_for estado, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer" data-confirm-delete="<%= estado_path(estado) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
              
                <td><%= estado.nome %></td>
              
                <td><%= estado.sigla %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>
