<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= content_for(:title) || "Asdericel App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # CDN GLOBAL HEHE %>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
    <% # ICONS %>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%= render "shared/menu" %>
        <div class="layout-page">
          <%= render "shared/navbar" %>
          <div class="content">
            <div class="container-xxl flex-grow-1 container-p-y">
              <%= yield :context_nav %>
              <div class="content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
