<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Asdericel App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "/layout/assets/css/core.css",                          "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/demo.css",                          "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/page-auth.css",                     "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/page-icons.css",                    "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/page-misc.css",                     "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/theme-default.css",                 "data-turbo-track": "reload" %>
    <% # Fonts %>
    <%= stylesheet_link_tag "/layout/assets/fonts/boxicons/boxicons.css",           "data-turbo-track": "reload" %>
    <% # CDN GLOBAL HEHE %>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% #JAVASCRIPTO%>
    <%= javascript_include_tag "/layout/assets/js/bootstrap.js",                           "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/config.js",                              "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/main.js",                                "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%= render "shared/navbar" %>
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
