<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Asdericel App" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "/layout/assets/css/core.css?v=#{Time.now.to_i}",       "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/demo.css",                          "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/page-auth.css",                     "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-12 d-flex justify-content-center align-items-center mb-4">
                <%= image_tag "Logo2024.png", style: "width:200px;", alt: "Alternate Text" %>
              </div>
              <%= render "shared/notice" %>
              <div class="col-12">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
